
@{
    ViewBag.Title = "EditFooter";
}

<h2>EditFooter</h2>


<input id="footerText" type="text" value="Enter Your footer text">

<button id="insertFooter">Insert Footer Information</button>

<p><a class="btn btn-default" href="/Document/DocumentIndex/?SPHostUrl=@ViewBag.SPHostUrl">Return &raquo;</a></p>