
@{
    ViewBag.Title = "EditHeader";
}

<h2>EditHeader</h2>


<table>
    <tr>
        <td>
            Name:
        </td>
        <td>
            <input id="inputText1" type="text" value="Enter Name" />
        </td>
    </tr>
    <tr>
        <td>
            Adress:
        </td>
        <td>
            <input id="inputText2" type="text" value="Enter Adress" />
        </td>
    </tr>
    <tr>
        <td>
            Phone:
        </td>
        <td>
            <input id="inputText3" type="text" value="Enter Phonenumber" />
        </td>
    </tr>
</table>


<button id="insertHeader">Insert Header Information</button>



<p><a class="btn btn-default" href="/Document/DocumentIndex/?SPHostUrl=@ViewBag.SPHostUrl">Return &raquo;</a></p>