
@{
    ViewBag.Title = "InsertParagraph";
}

<h2>InsertParagraph</h2>

<button id="insertParagraph">Insert Random Paragraph</button>
<button id="FormatText">Format Text</button>


<p><a class="btn btn-default" href="/Document/DocumentIndex/?SPHostUrl=@ViewBag.SPHostUrl">Return &raquo;</a></p>